<header>
  <p id='siteName'>Flopography</p>
  <!-- height of boxes -->
  <label for="height">Adjust Building Height:</label>
  <input type="range" id="maxBoxHeight" value="60" step="10">
  <p id="height">60</p>

  <!-- number of boxes -->
  <label for="number">Adjust Number of Buildings:</label>
  <input type="range" id="boxCount" value="60" step="10">
  <p id="count">60</p>

  <button id="fly" type="submit">Fly!</button>
  <button id="timeToggle" type="submit">Night Mode</button>
</header>
