<!DOCTYPE html>
<html>
<head>
  <title>Flopography</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,800,900' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" type="image/x-icon" href="buildings.png">
</head>
<body>

<%= yield %>

</body>
</html>
